<section class="navbar">
  <p>@Html.ActionLink("See all Treat", "Index", "Treats", null, new {@Class="btn btn-dark"})</p>
  <p>@Html.ActionLink("See all Flavors", "Index", "Flavors", null, new {@Class="btn btn-dark"})</p>
  <p>@Html.ActionLink("Create an account", "Index", "Account", null, new {@Class="btn btn-dark"})</p>
  <p>@Html.ActionLink("Take me Home", "Index", "Home", null, new {@Class="btn btn-dark"})</p> 
</section>