@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat


<h4>Add a flavor profile to this treat: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-primary"/>
}