.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  padding: .6rem;
  background-color: darkblue;
  border: 1px solid;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}